// Mixin
@mixin tombol {
    display: inline-block;
    color: white;
    background-color: $primary-color;
    border-radius: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
    border: none;
}